
[Unit]
Description=cprev agent
After=network.target
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=5
User=oleg
ExecStartOriginal=/home/oleg/.local/bin/cprev-safe-start
ExecStart=/bin/bash -c '$HOME/.local/bin/cprev-safe-start'

[Install]
WantedBy=multi-user.target
