
[Unit]
Description=cprev agent
After=network.target
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=15
UserXXX=oleg
ExecStart=/home/oleg/.local/bin/cprev-safe-start

[Install]
WantedByXXX=multi-user.target
WantedBy=default.target
